
@font-face {
    font-family: 'sf_monoheavy';
    src: url('../public/sfmono-heavy-webfont.woff2') format('woff2'),
        url('../public/sfmono-heavy-webfont.woff') format('woff');
    font-style: normal;
    -webkit-font-smoothing: subpixel-antialiased;
}

@font-face {
    font-family: 'sfheavy';
    src: url('../public/SFMono-Heavy.otf');
    font-style: normal;
    -webkit-font-smoothing: subpixel-antialiased;
}


@font-face {
    font-family: 'sfbold';
    src: url('../public/SFMono-Bold.otf');
    font-style: normal;
    -webkit-font-smoothing: subpixel-antialiased;
}