
@font-face {
    font-family: 'SF Mono';
    src: url('sf-mono-medium-webfont.woff2');
    src: local('SF Mono'), local('sf_monomedium'),
        url('sf-mono-medium-webfont.woff') format('woff');

    }       